<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoring dan Control Irigasi Sawah</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
</head>
<body onload="initChart()">
    <main>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Sistem Monitoring dan Control Pintu Irigasi Sawah</a>
          <div class="h3 text-white" id="jam"></div>
        </div>
      </nav>
        <div class="container-fluid">
          <h2 class="mt-3">Monitoring</h2>
          <div class="d-flex flex-column flex-xl-row justify-content-between mt-3">
              {% include 'chart-sawah.html' %}
          </div>
          <h2 class="mt-3">Control</h2>
          <div class="d-flex justify-between mt-3">
            <div class="btn btn-primary btn-circle btn-xl" id="btn-sawah1">BUKA Sawah 1</div>
            <div class="btn btn-primary btn-circle btn-xl" id="btn-sawah2">BUKA Sawah 2</div>
          </div>
        </div>
    </main>
    <script src="{{ url_for('static', path='/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', path='/js/chartjs.js') }}"></script>
    <script>

      function Add(chart, data) {
        console.log(chart)
        chart.data.datasets.forEach((dataset) => {
            dataset.data.pop();
        });
        chart.data.datasets.forEach((dataset) => {
            dataset.data.push(data);
        });
        chart.update();
      }

      function UpdateLevel(element, data) {
        element.innerText = `${data} mL`
      }

      function initChart() {
        let wl1 = createWaterLevelChart1()
        let wl2 = createWaterLevelChart2()
        let wf1 = document.getElementById('waterFlowData1')
        let wf2 = document.getElementById('waterFlowData2')

        let btnSawah1 = document.getElementById('btn-sawah1')
        let btnSawah2 = document.getElementById('btn-sawah2')

        btnSawah1.addEventListener('click', (e) => {
          if (e.target.innerText === "BUKA Sawah 1") {
            e.target.innerText = "TUTUP SAWAH 1"
            e.target.classList.toggle('btn-primary')
            e.target.classList.toggle('btn-danger')
            fetch('/api/relay/1', {
              method: "POST",
              body: JSON.stringify({
                'val': true
              }),
              headers: {
                'Content-Type': 'application/json'
              }
            })
              .then(response => response.json())
              .then(commit => console.log(commit))
          }
          else if (e.target.innerText === "TUTUP SAWAH 1") {
            e.target.innerText = "BUKA Sawah 1"
            e.target.classList.toggle('btn-primary')
            e.target.classList.toggle('btn-danger')
            fetch('/api/relay/1', {
              method: "POST",
              body: JSON.stringify({
                'val': false
              }),
              headers: {
                'Content-Type': 'application/json'
              }
            })
              .then(response => response.json())
              .then(commit => console.log(commit))
          }
        })
        btnSawah2.addEventListener('click', (e) => {
          if (e.target.innerText === "BUKA Sawah 2") {
            e.target.innerText = "TUTUP SAWAH 2"
            e.target.classList.toggle('btn-primary')
            e.target.classList.toggle('btn-danger')
            fetch('/api/relay/2', {
              method: "POST",
              body: JSON.stringify({
                'val': true
              }),
              headers: {
                'Content-Type': 'application/json'
              }
            })
              .then(response => response.json())
              .then(commit => console.log(commit))
          }
          else if (e.target.innerText === "TUTUP SAWAH 2") {
            e.target.innerText = "BUKA Sawah 2"
            e.target.classList.toggle('btn-primary')
            e.target.classList.toggle('btn-danger')
            fetch('/api/relay/2', {
              method: "POST",
              body: JSON.stringify({
                'val': false
              }),
              headers: {
                'Content-Type': 'application/json'
              }
            })
              .then(response => response.json())
              .then(commit => console.log(commit))
          }
        })

        setInterval(() => {
          fetch('/api/sensor')
            .then(response => response.json())
            .then(commits => {
              UpdateLevel(wf1, commits.flow1)
              UpdateLevel(wf2, commits.flow2)
              Add(wl1, commits.level1)
              Add(wl2, commits.level2)
            })
        }, 5000)

        setInterval(() => {
          let jam = document.getElementById("jam")
          let currentDate = new Date()
          jam.innerHTML = currentDate.getHours() + ":" + currentDate.getMinutes() + ":" + currentDate.getSeconds()
        }, 1000)
      }
    </script>
</body>
</html>